#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    align-items: center;
    width: 0px;
}

#item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: gray;
}