#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0px;
    align-items: center;
    width: 560px;
	height: 560px
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
	width: 35px;
	height: 35px;
}
